
{% extends "base.html" %}
{% block title %} Рабочий кабинет {% endblock %}
{% block content %}
{{request.user.last_name}} {{request.user.first_name}}<br>
phone {{request.user.profile.phone}}<br>
club_type {{request.session.club_type}}<br>
user_level {{request.user.profile.level}}
<br>
{{ searchpoint.media }}
<div style="
    top: 50%; 
    left: 50%; 
    position: absolute; 
    margin-top: -225px;
    margin-left: -225px;
    text-align :center;
">
<form id="form_searchpoint">
{{ searchpoint }}
</form>
</div>
<a href="{% url 'logout' %}">Logout</a><br>
{% for i in "1234567891011121314151615616546546541321365465464" %}
user_level {{request.user.profile.level}}<br>
{% endfor %}
</div>
{% endblock %}
